<template name="home">
    <div class="text-center">
        <h1>welcome</h1>
        <p>welcome to our mobile ape. This is a simple product show list</p>
        <a class="btn btn-primary" href="/product1" btn-block><i class="glyphicon glyphicon-ok"></i>product 1</a>
        <a class="btn btn-success" href="/product2" btn-block><i class="glyphicon glyphicon-ok"></i>product 2</a>
        <a class="btn btn-warning" href="/product3" btn-block><i class="glyphicon glyphicon-ok"></i>product 3</a>
    </div>
</template>    