<template name="product2">
    <div class="text-center">
        <h1>product 3</h1>
        <img src="images/product2.png" alt="">
        <br>
        <p class="label label-pr">$199.99</p>
        <hr>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis quo facilis sint quibusdam! Perferendis ipsa esse aliquam sit nam commodi distinctio maiores sint, expedita hic qui repudiandae tempore. Optio, provident!</p>
        <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#formmodal">ask a question</button>
        {{> formmodal}}
    </div>
</template>